<article data-component="main-article" data-component-type="section" {% if tag != blank %}data-component-tag="{{ tag }}" {% endif %}class="main-article" itemscope itemtype="http://schema.org/BlogPosting">
  <section-wrapper
    class="
      main-article__header-wrapper
      main-article__header-wrapper--{{ section.settings.title_style }}
    "
    {% if section.settings.title_style == 'wide' %}
      width="wide"
    {% endif %}
  >
    <section-header>
      <header class="main-article__header">
        <h1
          class="
            main-article__title
            {% if section.settings.title_style == 'overlap' %}
              main-article__title--overlap
            {% endif %}
          "
          itemprop="headline"
        >
          {{ article.title | escape }}
        </h1>
      </header>
    </section-header>
  </section-wrapper>
  {% if section.settings.show_article_image and article.image %}
    <section-wrapper
      class="
        main-article__image-wrapper
        main-article__image-wrapper--{{ section.settings.image_display }}
      "
      {% if section.settings.image_display == 'wide' %}
        width="{{ section.settings.image_display }}"
      {% endif %}
    >
      <section-content>
        <div
          class="
            main-article__featured-image
            {% if section.settings.title_style == 'overlap' %}
              main-article__featured-image--title-overlap
            {% endif %}

          "
          itemprop="image"
        >
          {% comment %}Component lazy-img:default begin{% endcomment %}
          {% render 'lazy-img', img: article.image, size: '1024x', lazy: true, canvas: true %}
          {% comment %}Component lazy-img:default end{% endcomment %}
        </div>
      </section-content>
    </section-wrapper>
  {% endif %}
  <section-wrapper class="main-article__body">
    <section-content>
      <div class="main-article__wrapper">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'content' %}
              {% if block.settings.show_date or block.settings.show_author %}
                <div class="main-article__meta">
                  {% if block.settings.show_author %}
                    <span class="main-article__author" itemprop="author" itemscope itemtype="http://schema.org/Person">
                      <span itemprop="name">{{ 'blogs.article.written_by' | t: author: article.author }}</span>
                    </span>
                  {% endif %}
                  {% if block.settings.show_date %}
                    <span class="main-article__date" itemprop="dateCreated pubdate datePublished">{{ article.published_at | time_tag: format: 'date' }}</span>
                  {% endif %}
                </div>
              {% endif %}
              <div class="main-article__content" itemprop="articleBody">
                {{ article.content }}
              </div>
            {% when 'share' %}
              <div class="main-article__footer">
                <div class="main-article__footer-top">
                  {% if article.tags.size > 0 %}
                    <ul class="main-article__tags">
                      {% for tag in article.tags %}
                        <li class="main-article__tag">
                          {{ tag | escape | link_to_tag: tag }}
                        </li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                  <div class="main-article__back-to-blog">
                    <a class="main-article__back-to-blog-link" href="{{ blog.url }}">
                      {% comment %}Icon arrow-left:default begin{% endcomment %}
                      <svg width="20" height="20" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M17 9H5.414l3.293-3.293a.999.999 0 1 0-1.414-1.414l-5 5a.999.999 0 0 0 0 1.414l5 5a.997.997 0 0 0 1.414 0 .999.999 0 0 0 0-1.414L5.414 11H17a1 1 0 1 0 0-2Z"/></svg>
                      {% comment %}Icon arrow-left:default end{% endcomment %}
                      {{ 'blogs.article.back_to_blog' | t }}
                    </a>
                  </div>
                </div>
                {% if block.settings.show_share_icons %}
                  <div class="main-article__share">
                    {% liquid
                      if article.image
                        assign share_image = article.image | img_url: '1024x'
                      endif
                      assign share_url = shop.url | append: article.url
                    %}

                    {% comment %}Component share:default begin{% endcomment %}
                    {% liquid
                      assign share_title_230726ee = share_title
                      assign share_title = article.title
                      assign show_facebook_230726ee = show_facebook
                      assign show_facebook = block.settings.show_facebook
                      assign show_x_230726ee = show_x
                      assign show_x = block.settings.show_x
                      assign show_pinterest_230726ee = show_pinterest
                      assign show_pinterest = block.settings.show_pinterest
                    %}
                    {% comment %}
                      @param share_url {String} [Required]
                        URL to share
                    
                      @param share_title {Object} [Optional]
                        If sending data to a service, description or title to share
                    
                      @param share_image {String} [Optional]
                        If sending data to a service, URL of image to share.
                    
                      @param show_facebook {Boolean} [Optional]
                        Show facebook share button
                    
                      @param show_x {Boolean} [Optional]
                        Show X share button
                    
                      @param show_pinterest {Boolean} [Optional]
                        Show pinterest share button
                    {% endcomment %}
                    
                    {% liquid
                      assign show_facebook = show_facebook
                      assign show_x = show_x
                      assign show_pinterest = show_pinterest
                      assign share_url = share_url | url_param_escape
                      assign share_title = share_title | url_param_escape
                      if share_image != blank
                        assign share_image = share_image | url_param_escape
                      endif
                    
                      assign copy_url_text = 'general.components.share.copy_to_clipboard' | t
                    %}
                    
                    <div data-component="share" data-component-type="component" {% if tag != blank %}data-component-tag="{{ tag }}" {% endif %}class="share">
                      <script
                        type="application/json"
                        data-component-data
                      >
                        {
                          "locales": {
                            "success_message": {{ 'general.components.share.success_message' | t | json }}
                          }
                        }
                      </script>
                      <div class="share__list">
                        {% if show_facebook %}
                          {% assign href = '//www.facebook.com/sharer.php?u=' | append: share_url %}
                          {% capture text %}
                            {% comment %}Icon facebook:default begin{% endcomment %}
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M7.591.077a7.981 7.981 0 0 0-5.247 2.329A7.925 7.925 0 0 0 .392 5.573a8 8 0 0 0 .248 5.604c.072.17.254.543.347.71.243.44.542.876.862 1.258a7.984 7.984 0 0 0 4.886 2.78l.016.002v-5.576H4.719V8.04H6.75L6.753 7c.003-1.107.002-1.082.04-1.341.138-.952.594-1.67 1.327-2.084.336-.19.758-.319 1.211-.369.46-.05 1.219-.012 2.02.102l.212.03c.002 0 .003.441.003.982v.983l-.598.003c-.64.003-.669.005-.838.044-.437.101-.728.384-.832.806-.041.17-.042.185-.042 1.07v.814h1.106c.999 0 1.107.002 1.107.012 0 .013-.343 2.244-.35 2.279l-.004.02H9.256v5.573l.04-.005a7.9 7.9 0 0 0 2.286-.738 8.013 8.013 0 0 0 3.837-4.142c.33-.813.517-1.647.572-2.561.012-.186.012-.679 0-.864a7.95 7.95 0 0 0-.497-2.37A8.02 8.02 0 0 0 10.9.607 8.088 8.088 0 0 0 8.532.084a16.32 16.32 0 0 0-.941-.007Z" fill="currentColor"/></svg>
                            {% comment %}Icon facebook:default end{% endcomment %}
                            <span class="share__text">{{ 'general.components.share.share_on_facebook' | t }}</span>
                          {% endcapture %}
                          {% comment %}Component button-link:default begin{% endcomment %}
                          {% liquid
                            assign style_e5a7f1c3 = style
                            assign style = 'secondary'
                            assign size_e5a7f1c3 = size
                            assign size = 'small'
                          %}
                          {% comment %}
                            @param href [Required]
                              This is the anchor tag for the link button.
                          
                            @param style [Required]
                              This is the style of the button: primary, secondary, tertiary, or text.
                          
                            @param size [Required]
                              This defines the size of the button: small, medium, or large.
                          
                            @param text [Required]
                              This is the text to be included in the button.
                          
                            @param attributes [Optional]
                              Any additional attributes to add to the button-link tag.
                          {% endcomment %}
                          
                          <a
                            data-component="button-link"
                            data-component-type="component"
                            {% if tag != blank %}data-component-tag="{{ tag }}"
                            {% endif %}class="button-link button-link--{{ style }} button-link--{{ size }}{% if style == 'primary' or style == 'secondary' %} button-link--shadow{% endif %%}"
                            {% if href != blank %}
                              href="{{ href }}"
                            {% endif %}
                            {{ attributes }}
                          >
                            {{ text }}
                          </a>
                          
                          {% liquid
                            assign style = style_e5a7f1c3
                            assign style_e5a7f1c3 = nil
                            assign size = size_e5a7f1c3
                            assign size_e5a7f1c3 = nil
                          %}
                          {% comment %}Component button-link:default end{% endcomment %}
                        {% endif %}
                    
                        {% if show_x %}
                          {% assign href = '//x.com/intent/tweet?url=' | append: share_url %}
                          {% capture text %}
                            {% comment %}Icon x:default begin{% endcomment %}
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M9.522 6.771 15.48 0h-1.412L8.895 5.88 4.765 0H0l6.247 8.89L0 15.993h1.412l5.461-6.21 4.363 6.21H16l-6.478-9.22ZM7.59 8.97l-.633-.885L1.92 1.039h2.168l4.064 5.685.633.886L14.068 15H11.9L7.589 8.97Z" fill="currentColor"/></svg>
                            {% comment %}Icon x:default end{% endcomment %}
                            <span class="share__text">{{ 'general.components.share.share_on_x' | t }}</span>
                          {% endcapture %}
                          {% comment %}Component button-link:default begin{% endcomment %}
                          {% liquid
                            assign style_e5a7f1c3 = style
                            assign style = 'secondary'
                            assign size_e5a7f1c3 = size
                            assign size = 'small'
                          %}
                          {% comment %}
                            @param href [Required]
                              This is the anchor tag for the link button.
                          
                            @param style [Required]
                              This is the style of the button: primary, secondary, tertiary, or text.
                          
                            @param size [Required]
                              This defines the size of the button: small, medium, or large.
                          
                            @param text [Required]
                              This is the text to be included in the button.
                          
                            @param attributes [Optional]
                              Any additional attributes to add to the button-link tag.
                          {% endcomment %}
                          
                          <a
                            data-component="button-link"
                            data-component-type="component"
                            {% if tag != blank %}data-component-tag="{{ tag }}"
                            {% endif %}class="button-link button-link--{{ style }} button-link--{{ size }}{% if style == 'primary' or style == 'secondary' %} button-link--shadow{% endif %%}"
                            {% if href != blank %}
                              href="{{ href }}"
                            {% endif %}
                            {{ attributes }}
                          >
                            {{ text }}
                          </a>
                          
                          {% liquid
                            assign style = style_e5a7f1c3
                            assign style_e5a7f1c3 = nil
                            assign size = size_e5a7f1c3
                            assign size_e5a7f1c3 = nil
                          %}
                          {% comment %}Component button-link:default end{% endcomment %}
                        {% endif %}
                    
                        {% if show_pinterest and share_image %}
                          {% assign href = '//pinterest.com/pin/create/button/?url=' | append: share_url | append: '&amp;media=' | append: share_image | append: '&amp;description=' | append: share_title %}
                          {% capture text %}
                            {% comment %}Icon pinterest:default begin{% endcomment %}
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8 .587a7.485 7.485 0 0 1 5.244 2.178 7.484 7.484 0 0 1 1.182 8.96A7.36 7.36 0 0 1 8 15.422a7.558 7.558 0 0 1-2.107-.284c.373-.604.622-1.147.756-1.6l.524-2.036c.125.25.364.463.711.65a2.41 2.41 0 0 0 1.102.275c.774 0 1.467-.222 2.08-.667a4.329 4.329 0 0 0 1.423-1.822 6.49 6.49 0 0 0 .497-2.604c0-1.156-.444-2.143-1.324-2.987a4.684 4.684 0 0 0-3.378-1.271c-.827 0-1.6.142-2.293.426a4.649 4.649 0 0 0-2.996 4.214c0 .666.125 1.253.382 1.76.25.498.623.853 1.13 1.066.088.036.168.036.23 0 .063-.026.107-.088.134-.177l.16-.605c.044-.133.018-.266-.098-.4a2.089 2.089 0 0 1-.507-1.449 3.52 3.52 0 0 1 3.68-3.573c.97 0 1.725.267 2.258.791.542.533.818 1.218.818 2.062a6.28 6.28 0 0 1-.293 1.965 3.528 3.528 0 0 1-.827 1.44c-.356.355-.773.533-1.244.533-.383 0-.694-.133-.943-.418a1.098 1.098 0 0 1-.23-1.004c.135-.475.274-.95.417-1.422l.16-.65c.053-.23.08-.417.08-.577 0-.32-.089-.587-.249-.791-.178-.205-.418-.311-.738-.311-.4 0-.738.178-1.004.55-.267.365-.41.828-.41 1.388.005.346.06.69.16 1.022l.054.133c-.533 2.293-.844 3.645-.96 4.036-.106.488-.142 1.066-.115 1.724a7.467 7.467 0 0 1-4.445-6.8c0-2.044.72-3.804 2.17-5.244A7.147 7.147 0 0 1 8 .578v.009Z" fill="currentColor"/></svg>
                            {% comment %}Icon pinterest:default end{% endcomment %}
                            <span class="share__text">{{ 'general.components.share.share_on_pinterest' | t }}</span>
                          {% endcapture %}
                          {% comment %}Component button-link:default begin{% endcomment %}
                          {% liquid
                            assign style_e5a7f1c3 = style
                            assign style = 'secondary'
                            assign size_e5a7f1c3 = size
                            assign size = 'small'
                          %}
                          {% comment %}
                            @param href [Required]
                              This is the anchor tag for the link button.
                          
                            @param style [Required]
                              This is the style of the button: primary, secondary, tertiary, or text.
                          
                            @param size [Required]
                              This defines the size of the button: small, medium, or large.
                          
                            @param text [Required]
                              This is the text to be included in the button.
                          
                            @param attributes [Optional]
                              Any additional attributes to add to the button-link tag.
                          {% endcomment %}
                          
                          <a
                            data-component="button-link"
                            data-component-type="component"
                            {% if tag != blank %}data-component-tag="{{ tag }}"
                            {% endif %}class="button-link button-link--{{ style }} button-link--{{ size }}{% if style == 'primary' or style == 'secondary' %} button-link--shadow{% endif %%}"
                            {% if href != blank %}
                              href="{{ href }}"
                            {% endif %}
                            {{ attributes }}
                          >
                            {{ text }}
                          </a>
                          
                          {% liquid
                            assign style = style_e5a7f1c3
                            assign style_e5a7f1c3 = nil
                            assign size = size_e5a7f1c3
                            assign size_e5a7f1c3 = nil
                          %}
                          {% comment %}Component button-link:default end{% endcomment %}
                        {% endif %}
                      </div>
                      <div class="share__copy-url">
                        <span
                          class="
                            share__copy-url-success
                            hidden
                            success
                          "
                          role="status"
                          data-share-copy-success
                        >
                        </span>
                        <div class="share__input-wrapper" data-share-input-wrapper>
                          <input
                            class="share__input"
                            type="text"
                            value="{{ share_url }}"
                            onclick="this.select();"
                            readonly
                          >
                        </div>
                        {% comment %}Component button:default begin{% endcomment %}
                        {% liquid
                          assign style_b6d180ed = style
                          assign style = 'primary'
                          assign size_b6d180ed = size
                          assign size = 'small'
                          assign text_b6d180ed = text
                          assign text = copy_url_text
                        %}
                        {% comment %}
                          @param style [Required]
                            This is the style of the button: primary, secondary, tertiary, or text. Default primary.
                        
                          @param size [Required]
                            This defines the size of the button: small, medium, or large. Default medium.
                        
                          @param text [Required]
                            This is the text to be included in the button.
                        
                          @param attributes [Optional]
                            This will include any additional attributes that the button needs. For example, aria-controls.
                        {% endcomment %}
                        
                        <button
                          data-component="button"
                          data-component-type="component"
                          {% if tag != blank %}data-component-tag="{{ tag }}"
                          {% endif %}class="button button--{{ style }} button--{{ size }}{% if style == 'primary' or style == 'secondary' %} button--shadow{% endif %%}"
                          {{ attributes }}
                        >
                          {{ text }}
                        </button>
                        
                        {% liquid
                          assign style = style_b6d180ed
                          assign style_b6d180ed = nil
                          assign size = size_b6d180ed
                          assign size_b6d180ed = nil
                          assign text = text_b6d180ed
                          assign text_b6d180ed = nil
                        %}
                        {% comment %}Component button:default end{% endcomment %}
                      </div>
                    </div>
                    
                    {% liquid
                      assign share_title = share_title_230726ee
                      assign share_title_230726ee = nil
                      assign show_facebook = show_facebook_230726ee
                      assign show_facebook_230726ee = nil
                      assign show_x = show_x_230726ee
                      assign show_x_230726ee = nil
                      assign show_pinterest = show_pinterest_230726ee
                      assign show_pinterest_230726ee = nil
                    %}
                    {% comment %}Component share:default end{% endcomment %}
                  </div>
                {% endif %}
              </div>
          {% endcase %}
        {% endfor %}
      </div>
    </section-content>
  </section-wrapper>
  {% comment %}Component comments:default begin{% endcomment %}
  {% liquid
    assign comments_per_page_3b76af5e = comments_per_page
    assign comments_per_page = 10
  %}
  {%- comment -%}
    @param blog [Required]
      The blog object that is being viewed
  
    @param comments_per_page [Optional]
      The number of comments to show per page. Defaults to 5
  {%- endcomment -%}
  
  {% assign comments_per_page = comments_per_page | default: 5 %}
  
  {% if blog.comments_enabled? %}
    <section class="comments" id="comments">
      <section-wrapper width="content">
        <section-content>
          <div class="comments__wrapper">
            {% if article.comments_count > 0 %}
              <div class="comments__header">
                <h2 class="comments__count">{{ 'blogs.comments.comment_count' | t: count: article.comments_count }}</h2>
                {% assign button_text = 'blogs.comments.comment_form_title' | t %}
                {% assign href = '#comment_form' %}
                {% comment %}Component button-link:default begin{% endcomment %}
                {% liquid
                  assign style_7428a640 = style
                  assign style = 'secondary'
                  assign size_7428a640 = size
                  assign size = 'small'
                  assign text_7428a640 = text
                  assign text = button_text
                %}
                {% comment %}
                  @param href [Required]
                    This is the anchor tag for the link button.
                
                  @param style [Required]
                    This is the style of the button: primary, secondary, tertiary, or text.
                
                  @param size [Required]
                    This defines the size of the button: small, medium, or large.
                
                  @param text [Required]
                    This is the text to be included in the button.
                
                  @param attributes [Optional]
                    Any additional attributes to add to the button-link tag.
                {% endcomment %}
                
                <a
                  data-component="button-link"
                  data-component-type="component"
                  {% if tag != blank %}data-component-tag="{{ tag }}"
                  {% endif %}class="button-link button-link--{{ style }} button-link--{{ size }}{% if style == 'primary' or style == 'secondary' %} button-link--shadow{% endif %%}"
                  {% if href != blank %}
                    href="{{ href }}"
                  {% endif %}
                  {{ attributes }}
                >
                  {{ text }}
                </a>
                
                {% liquid
                  assign style = style_7428a640
                  assign style_7428a640 = nil
                  assign size = size_7428a640
                  assign size_7428a640 = nil
                  assign text = text_7428a640
                  assign text_7428a640 = nil
                %}
                {% comment %}Component button-link:default end{% endcomment %}
              </div>
  
              {% paginate article.comments by comments_per_page %}
                <div class="comments__list">
                  {% if comment.status == 'pending' and comment.content %}
                    <article class="comment" id="{{ comment.id }}">
                      <div class="comment__meta">
                        <span class="comment__author">{{ comment.author }}</span><span class="comment__date">{{ comment.created_at | time_tag: format: 'date' }}</span>
                      </div>
                      <div class="comment__body">
                        {{ comment.content }}
                      </div>
                    </article>
                  {% endif %}
                  {% for comment in article.comments %}
                    <article class="comment" id="{{ comment.id }}">
                      <div class="comment__meta">
                        <span class="comment__author">{{ comment.author }}</span><span class="comment__date">{{ comment.created_at | time_tag: format: 'date' }}</span>
                      </div>
                      <div class="comment__body">
                        {{ comment.content }}
                      </div>
                    </article>
                  {% endfor %}
                </div>
                {% comment %}Component pagination:default begin{% endcomment %}
                {% render 'pagination', paginate: paginate %}
                {% comment %}Component pagination:default end{% endcomment %}
              {% endpaginate %}
            {% endif %}
            {% form 'new_comment', article %}
              {% liquid
                assign post_message = 'blogs.comments.success'
                if blog.moderated? and comment.status == 'unapproved'
                  assign post_message = 'blogs.comments.success_moderated'
                endif
  
                assign name_label = 'blogs.comments.name' | t
                assign email_label = 'blogs.comments.email' | t
                assign comment_label = 'blogs.comments.message' | t
                assign button_label = 'blogs.comments.post' | t
  
                assign name_placeholder = 'blogs.comments.name_placeholder' | t
                assign email_placeholder = 'blogs.comments.email_placeholder' | t
                assign comment_placeholder = 'blogs.comments.comment_placeholder' | t
              %}
  
            {%- capture name_label_text -%}
              {{ name_label }} <span aria-hidden="true">*</span>
            {%- endcapture -%}
  
            {%- capture email_label_text -%}
              {{ email_label }} <span aria-hidden="true">*</span>
            {%- endcapture -%}
  
            {%- capture comment_label_text -%}
              {{ comment_label }} <span aria-hidden="true">*</span>
            {%- endcapture -%}
  
            {% capture name_attributes %}
              aria-required="true"
              required
            {% endcapture %}
            {% capture email_attributes %}
              aria-required="true"
              required
            {% endcapture %}
            {% capture comment_attributes %}
              aria-required="true"
              required
            {% endcapture %}
  
              <h2 class="comment-form__heading">{{ 'blogs.comments.comment_form_title' | t }}</h2>
              {% if form.errors %}
                {% capture form_errors_content %}
                  <h3>{{ 'blogs.comments.error_heading' | t }}</h3>
                  <ul>
                    {% for field in form.errors %}
                      <li>
                        <a href="#comment-{{ field }}">
                          {%- if form.errors.translated_fields[field] contains 'author' -%}
                            {{ 'blogs.comments.name' | t }}
                          {%- elsif form.errors.translated_fields[field] contains 'body'-%}
                            {{ 'blogs.comments.message' | t }}
                          {%- elsif form.errors.translated_fields[field] contains 'email'-%}
                            {{ 'blogs.comments.email' | t }}
                          {%- else -%}
                            {{ form.errors.translated_fields[field] | capitalize }}
                          {%- endif -%}
                          {{ form.errors.messages[field] }}
                        </a>
                      </li>
                    {% endfor %}
                  </ul>
                {% endcapture %}
                {% comment %}Component notification:default begin{% endcomment %}
                {% liquid
                  assign content_57f88ff9 = content
                  assign content = form_errors_content
                  assign type_57f88ff9 = type
                  assign type = 'error'
                %}
                {%- comment -%}
                  @param content [Required]
                    The content that goes in the notification banner
                
                  @param type [Required]
                    The type of notification banner ('error' or 'success')
                
                  @param hidden [Optional]
                    Whether the notification should be hidden
                {%- endcomment -%}
                
                <div
                  data-component="notification"
                  data-component-type="component"
                  {% if tag != blank %}data-component-tag="{{ tag }}"
                  {% endif %}class="
                    notification
                    notification--{{ type }}
                  "
                  {% if type == 'error' %}
                    role="alert"
                  {% else %}
                    role="status"
                  {% endif %}
                  {% if hidden %}hidden{% endif %}
                >
                  {{ content }}
                </div>
                
                {% liquid
                  assign content = content_57f88ff9
                  assign content_57f88ff9 = nil
                  assign type = type_57f88ff9
                  assign type_57f88ff9 = nil
                %}
                {% comment %}Component notification:default end{% endcomment %}
              {% elsif form.posted_successfully? %}
                {% capture form_success_content %}
                  <h3>{{ post_message | t }}</h3>
                {% endcapture %}
                {% comment %}Component notification:default begin{% endcomment %}
                {% liquid
                  assign content_57f88ff9 = content
                  assign content = form_success_content
                  assign type_57f88ff9 = type
                  assign type = 'success'
                %}
                {%- comment -%}
                  @param content [Required]
                    The content that goes in the notification banner
                
                  @param type [Required]
                    The type of notification banner ('error' or 'success')
                
                  @param hidden [Optional]
                    Whether the notification should be hidden
                {%- endcomment -%}
                
                <div
                  data-component="notification"
                  data-component-type="component"
                  {% if tag != blank %}data-component-tag="{{ tag }}"
                  {% endif %}class="
                    notification
                    notification--{{ type }}
                  "
                  {% if type == 'error' %}
                    role="alert"
                  {% else %}
                    role="status"
                  {% endif %}
                  {% if hidden %}hidden{% endif %}
                >
                  {{ content }}
                </div>
                
                {% liquid
                  assign content = content_57f88ff9
                  assign content_57f88ff9 = nil
                  assign type = type_57f88ff9
                  assign type_57f88ff9 = nil
                %}
                {% comment %}Component notification:default end{% endcomment %}
              {% endif %}
  
              <div class="comment-form__fields">
                <div class="comment-form__field-wrapper">
                  {% comment %}Component input-field:default begin{% endcomment %}
                  {% liquid
                    assign input_type_c7c55dac = input_type
                    assign input_type = 'text'
                    assign label_text_c7c55dac = label_text
                    assign label_text = name_label_text
                    assign form_namespace_c7c55dac = form_namespace
                    assign form_namespace = 'comment'
                    assign field_name_c7c55dac = field_name
                    assign field_name = 'author'
                    assign placeholder_c7c55dac = placeholder
                    assign placeholder = name_placeholder
                    assign attributes_c7c55dac = attributes
                    assign attributes = name_attributes
                  %}
                  {% comment %}
                    @param form [Required]
                      The form that the input lives in.
                  
                    @param form_namespace [Required]
                      The form's namespace that is used in "name" attribute as form_namespace[field_name].
                  
                    @param field_name [Required]
                      The field name for the form. Will be used for the "name" attribute.
                  
                    @param input_type [Required]
                      The type of field that is being rendered. Usually text, password, number, etc.
                  
                    @param input_id [Optional]
                      The type of field that is being rendered. Usually text, password, number, etc.
                  
                    @param label_text [Required]
                      The text for the label to be included.
                  
                    @param placeholder [Optional]
                      The placeholder for the input field.
                  
                    @param attributes [Optional]
                      Additional attributes to append to the input field.
                  {% endcomment %}
                  
                  {% if input_id == blank %}
                    {% comment %}UUID input_id begin{% endcomment %}
                    {% assign input_id = 'c384b3cb-df3b-4ce6-bc13-c5e2a5d414b6' %}
                    {% comment %}UUID input_id end{% endcomment %}
                  {% endif %}
                  
                  <div data-component="input-field" data-component-type="component" {% if tag != blank %}data-component-tag="{{ tag }}" {% endif %}class="input-field">
                    <label for="{{ input_id }}">{{ label_text }}</label>
                    <input
                      id="{{ input_id }}"
                      type="{{ input_type }}"
                      name="{% if form_namespace %}{{ form_namespace }}[{{ field_name }}]{% else %}{{ field_name }}{% endif %}"
                      value="{{ form[field_name] }}"
                      placeholder="{{ placeholder }}"
                      {{ attributes }}
                    >
                  </div>
                  
                  {% liquid
                    assign input_type = input_type_c7c55dac
                    assign input_type_c7c55dac = nil
                    assign label_text = label_text_c7c55dac
                    assign label_text_c7c55dac = nil
                    assign form_namespace = form_namespace_c7c55dac
                    assign form_namespace_c7c55dac = nil
                    assign field_name = field_name_c7c55dac
                    assign field_name_c7c55dac = nil
                    assign placeholder = placeholder_c7c55dac
                    assign placeholder_c7c55dac = nil
                    assign attributes = attributes_c7c55dac
                    assign attributes_c7c55dac = nil
                  %}
                  {% comment %}Component input-field:default end{% endcomment %}
                  {% comment %}Component input-email:default begin{% endcomment %}
                  {% liquid
                    assign label_text_820002a7 = label_text
                    assign label_text = email_label_text
                    assign form_namespace_820002a7 = form_namespace
                    assign form_namespace = 'comment'
                    assign field_name_820002a7 = field_name
                    assign field_name = 'email'
                    assign placeholder_820002a7 = placeholder
                    assign placeholder = email_placeholder
                    assign attributes_820002a7 = attributes
                    assign attributes = email_attributes
                  %}
                  {% comment %}
                    @param form [Required]
                      The form that the input lives in.
                  
                    @param label_text [Required]
                      The text for the label to be included.
                  
                    @param form_namespace [Required]
                      The form's namespace that is used in "name" attribute as form_namespace[field_name].
                  
                    @param field_name [Required]
                      The field name for the form. Will be used for the "name" attribute.
                  
                    @param input_class [Optional]
                      The class for the input field.
                  
                    @param input_id [Optional]
                      The type of field that is being rendered. Usually text, password, number, etc.
                  
                    @param placeholder [Optional]
                      The placeholder for the input field.
                  
                    @param attributes [Optional]
                      Additional attributes to append to the input field.
                  {% endcomment %}
                  
                  {% if input_id == blank %}
                    {% comment %}UUID input_id begin{% endcomment %}
                    {% assign input_id = 'dc0d079e-09a3-410a-a222-c78872b80294' %}
                    {% comment %}UUID input_id end{% endcomment %}
                  {% endif %}
                  
                  <div data-component="input-email" data-component-type="component" {% if tag != blank %}data-component-tag="{{ tag }}" {% endif %}class="input-field">
                    <label for="{{ input_id }}">{{ label_text }}</label>
                    <input
                      class="{{ input_class }}"
                      id="{{ input_id }}"
                      type="email"
                      name="{% if form_namespace %}{{ form_namespace }}[{{ field_name }}]{% else %}{{ field_name }}{% endif %}"
                      value="{{ form[field_name] }}"
                      placeholder="{{ placeholder }}"
                      autocapitalize="off"
                      autocorrect="off"
                      spellcheck="false"
                      {% if form.errors contains 'email' %}
                        aria-invalid="true"
                      {% endif %}
                      {{ attributes }}
                    >
                  </div>
                  
                  {% liquid
                    assign label_text = label_text_820002a7
                    assign label_text_820002a7 = nil
                    assign form_namespace = form_namespace_820002a7
                    assign form_namespace_820002a7 = nil
                    assign field_name = field_name_820002a7
                    assign field_name_820002a7 = nil
                    assign placeholder = placeholder_820002a7
                    assign placeholder_820002a7 = nil
                    assign attributes = attributes_820002a7
                    assign attributes_820002a7 = nil
                  %}
                  {% comment %}Component input-email:default end{% endcomment %}
                </div>
                {% comment %}Component input-textarea:default begin{% endcomment %}
                {% liquid
                  assign label_text_16bd19f3 = label_text
                  assign label_text = comment_label_text
                  assign form_namespace_16bd19f3 = form_namespace
                  assign form_namespace = 'comment'
                  assign field_name_16bd19f3 = field_name
                  assign field_name = 'body'
                  assign input_text_16bd19f3 = input_text
                  assign input_text = form.body
                  assign placeholder_16bd19f3 = placeholder
                  assign placeholder = comment_placeholder
                  assign rows_16bd19f3 = rows
                  assign rows = 10
                  assign attributes_16bd19f3 = attributes
                  assign attributes = comment_attributes
                %}
                {% comment %}
                  @param label_text [Required]
                    The text for the label to be included.
                
                  @param form_namespace [Required]
                    The form's namespace that is used in "name" attribute as form_namespace[field_name].
                
                  @param field_name [Required]
                    The field name for the form. Will be used for the "name" attribute.
                
                  @param form_id [Optional]
                    The form that the input lives in.
                
                  @param input_id [Optional]
                    The type of field that is being rendered. Usually text, password, number, etc.
                
                  @param input_text [Optional]
                    The initial text to display within the textarea
                
                  @param placeholder [Optional]
                    The placeholder for the input field.
                
                  @param attributes [Optional]
                    Additional attributes to append to the input field.
                
                  @param rows [Optional]
                    The number of rows for the textarea (height)
                
                  @param columns [Optional]
                    The number of columns for the textarea (width)
                
                  @param maxlength [Optional]
                    The maximum number of characters for the textarea
                {% endcomment %}
                
                {% if input_id == blank %}
                  {% comment %}UUID input_id begin{% endcomment %}
                  {% assign input_id = 'b17ecad6-1b4e-41f1-ae42-046f4d7507d4' %}
                  {% comment %}UUID input_id end{% endcomment %}
                {% endif %}
                
                <div data-component="input-textarea" data-component-type="component" {% if tag != blank %}data-component-tag="{{ tag }}" {% endif %}class="textarea">
                  <label for="{{ input_id }}">{{ label_text }}</label>
                  <textarea
                    id="{{ input_id }}"
                    name="{% if form_namespace %}{{ form_namespace }}[{{ field_name }}]{% else %}{{ field_name }}{% endif %}"
                    {% if form_id %}
                      form="{{ form_id }}"
                    {% endif %}
                    {% if rows %}rows="{{ rows }}"{% endif %}
                    {% if columns %}cols="{{ columns }}"{% endif %}
                    {% if maxlength %}maxlength="{{ maxlength }}"{% endif %}
                    placeholder="{{ placeholder }}"
                    {{ attributes }}
                    data-input
                  >
                    {%- if input_text != blank -%}{{- input_text -}}{%- endif -%}
                  </textarea>
                </div>
                
                {% liquid
                  assign label_text = label_text_16bd19f3
                  assign label_text_16bd19f3 = nil
                  assign form_namespace = form_namespace_16bd19f3
                  assign form_namespace_16bd19f3 = nil
                  assign field_name = field_name_16bd19f3
                  assign field_name_16bd19f3 = nil
                  assign input_text = input_text_16bd19f3
                  assign input_text_16bd19f3 = nil
                  assign placeholder = placeholder_16bd19f3
                  assign placeholder_16bd19f3 = nil
                  assign rows = rows_16bd19f3
                  assign rows_16bd19f3 = nil
                  assign attributes = attributes_16bd19f3
                  assign attributes_16bd19f3 = nil
                %}
                {% comment %}Component input-textarea:default end{% endcomment %}
              </div>
              {% if blog.moderated? %}
                <p class="article-template__comment-warning">{{ 'blogs.comments.moderated' | t }}</p>
              {% endif %}
              {% comment %}Component button:default begin{% endcomment %}
              {% liquid
                assign style_bd19db5d = style
                assign style = 'primary'
                assign size_bd19db5d = size
                assign size = 'small'
                assign text_bd19db5d = text
                assign text = button_label
              %}
              {% comment %}
                @param style [Required]
                  This is the style of the button: primary, secondary, tertiary, or text. Default primary.
              
                @param size [Required]
                  This defines the size of the button: small, medium, or large. Default medium.
              
                @param text [Required]
                  This is the text to be included in the button.
              
                @param attributes [Optional]
                  This will include any additional attributes that the button needs. For example, aria-controls.
              {% endcomment %}
              
              <button
                data-component="button"
                data-component-type="component"
                {% if tag != blank %}data-component-tag="{{ tag }}"
                {% endif %}class="button button--{{ style }} button--{{ size }}{% if style == 'primary' or style == 'secondary' %} button--shadow{% endif %%}"
                {{ attributes }}
              >
                {{ text }}
              </button>
              
              {% liquid
                assign style = style_bd19db5d
                assign style_bd19db5d = nil
                assign size = size_bd19db5d
                assign size_bd19db5d = nil
                assign text = text_bd19db5d
                assign text_bd19db5d = nil
              %}
              {% comment %}Component button:default end{% endcomment %}
            {% endform %}
          </div>
        </section-content>
      </section-wrapper>
    </section>
  {% endif %}
  
  {% liquid
    assign comments_per_page = comments_per_page_3b76af5e
    assign comments_per_page_3b76af5e = nil
  %}
  {% comment %}Component comments:default end{% endcomment %}
</article>
{% schema %}
{
  "name": "t:common.blog.article",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_article_image",
      "label": "t:component.article.show_article_image.label",
      "default": true
    },
    {
      "type": "select",
      "id": "image_display",
      "label": "t:component.article.image_display.label",
      "options": [
        {
          "value": "column",
          "label": "t:component.article.image_display.option_1"
        },
        {
          "value": "margins",
          "label": "t:component.article.image_display.option_2"
        },
        {
          "value": "wide",
          "label": "t:common.size.full_width"
        }
      ],
      "default": "column"
    },
    {
      "type": "select",
      "id": "title_style",
      "label": "t:component.article.title_style.label",
      "options": [
        {
          "value": "column",
          "label": "t:component.article.title_style.option_1"
        },
        {
          "value": "wide",
          "label": "t:common.size.full_width"
        },
        {
          "value": "overlap",
          "label": "t:component.article.title_style.option_3"
        }
      ],
      "default": "column"
    }
  ],
  "blocks": [
    {
      "type": "content",
      "name": "t:common.text.content",
      "settings": [
        {
          "type": "checkbox",
          "id": "show_date",
          "label": "t:common.blog.show_article_date",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_author",
          "label": "t:component.article.blocks.content.show_author.label"
        }
      ],
      "limit": 1
    },
    {
      "type": "share",
      "name": "t:common.component.share",
      "settings": [
        {
          "type": "checkbox",
          "id": "show_share_icons",
          "label": "t:component.article.blocks.share.show_share_icons.label"
        },
        {
          "type": "paragraph",
          "content": "t:common.info.preview_image_share"
        },
        {
          "type": "paragraph",
          "content": "t:common.info.store_title_share"
        },
        {
          "type": "checkbox",
          "id": "show_facebook",
          "label": "t:common.component.show_facebook",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_x",
          "label": "t:common.component.show_x",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_pinterest",
          "label": "t:common.component.show_pinterest",
          "default": true
        }
      ],
      "limit": 1
    }
  ]
}
{% endschema %}