<section data-component="main-collections-list" data-component-type="section" {% if tag != blank %}data-component-tag="{{ tag }}" {% endif %}class="main-collections-list">
  {% if section.settings.heading != blank or section.settings.subheading != blank %}
    <section-wrapper>
      <section-header>
        <div class="main-collections-list__header">
          {% if section.settings.heading != blank %}
            <h1 class="main-collections-list__heading">{{ section.settings.heading | escape }}</h1>
          {% endif %}
          {% if section.settings.subheading != blank %}
            <p class="main-collections-list__subheading">
              {{ section.settings.subheading | escape }}
            </p>
          {% endif %}
        </div>
      </section-header>
    </section-wrapper>
  {% endif %}
  <section-wrapper>
    <section-content>
      {% if section.settings.display_type == 'all' %}
        {% paginate collections by 24 %}
          <div class="main-collections-list__container">
            {% for collection in collections %}
              {% comment %}Component collection-card:default begin{% endcomment %}
              {% render 'collection-card', collection: collection %}
              {% comment %}Component collection-card:default end{% endcomment %}
            {% endfor %}
          </div>
          {% comment %}Component pagination:default begin{% endcomment %}
          {% render 'pagination', paginate: paginate %}
          {% comment %}Component pagination:default end{% endcomment %}
        {% endpaginate %}
      {% else %}
        <div class="main-collections-list__container">
          {% for block in section.blocks %}
            {% comment %}Component block-collection-card:default begin{% endcomment %}
            {%- comment -%}
              @param aspect_ratio [Optional]
                The aspect ratio for the image. Defaults to: `natural`
            {%- endcomment -%}
            
            <div data-component="block-collection-card" data-component-type="block" {% if tag != blank %}data-component-tag="{{ tag }}" {% endif %}class="block-collection-card" {{ block.shopify_attributes }}>
              {% comment %}Component collection-card:default begin{% endcomment %}
              {% render 'collection-card', collection: block.settings.collection, use_custom_image: block.settings.use_custom_image, custom_image: block.settings.custom_image %}
              {% comment %}Component collection-card:default end{% endcomment %}
            </div>
            
            {% comment %}Component block-collection-card:default end{% endcomment %}
          {% endfor %}
        </div>
      {% endif %}
    </section-content>
  </section-wrapper>
</section>
{% schema %}
{
  "name": "t:component.collections_list_page.name",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "t:common.text.heading"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "t:common.text.subheading",
      "default": "Help guide customers to the products they’re looking for by featuring collections on your collections list page."
    },
    {
      "type": "paragraph",
      "content": "t:component.collections_list_page.paragraph_1.content"
    },
    {
      "type": "radio",
      "id": "display_type",
      "label": "t:component.collections_list_page.display_type.label",
      "options": [
        {
          "value": "all",
          "label": "t:component.collections_list_page.display_type.option_1"
        },
        {
          "value": "selected",
          "label": "t:component.collections_list_page.display_type.option_2"
        }
      ],
      "default": "all"
    },
    {
      "type": "header",
      "content": "t:component.collection_card.header_1.content"
    },
    {
      "type": "checkbox",
      "id": "show_title",
      "label": "t:component.collection_card.show_title.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_description",
      "label": "t:common.component.show_description",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_product_count",
      "label": "t:component.collection_card.show_product_count.label",
      "default": false
    },
    {
      "type": "select",
      "id": "collection_card_media_ratio",
      "label": "t:common.media.media_aspect_ratio",
      "options": [
        {
          "value": "natural",
          "label": "t:common.size.natural"
        },
        {
          "value": "square",
          "label": "t:common.size.square_ratio_1_1"
        },
        {
          "value": "landscape",
          "label": "t:common.size.landscape_ratio_3_2"
        },
        {
          "value": "portrait",
          "label": "t:common.size.portrait_ratio_2_3"
        }
      ],
      "default": "natural"
    },
    {
      "type": "select",
      "id": "collection_card_crop_mode",
      "label": "t:common.image.crop_mode",
      "info": "t:common.info.no_effect_natural_aspect_ratio",
      "options": [
        {
          "value": "fill",
          "label": "t:common.size.fill"
        },
        {
          "value": "fit",
          "label": "t:common.size.fit"
        }
      ],
      "default": "fill"
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "t:common.collection.collection",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "t:common.collection.collection"
        },
        {
          "type": "checkbox",
          "id": "use_custom_image",
          "label": "t:component.block_collection_card.blocks.collection.use_custom_image.label"
        },
        {
          "type": "image_picker",
          "id": "custom_image",
          "label": "t:component.block_collection_card.blocks.collection.custom_image.label"
        }
      ]
    }
  ]
}
{% endschema %}